# Introduction to Python and Pandas
## DataHacks 2021 Workshop
**Brian Huang and Bryan Truong**

# Python?

# Python Programming Language
<ol>
<li>Interpreted</li>
<li>Object-oriented</li>
<li>High-level programming language</li>
<li>with dynamic semantics</li>
<li>?????</li>
</ol>

# Interpreted

    Interpreted languages are not directly executed by the target machine.
    
    Different from compiled programming languages.
    
    Read and executed by some other computer program known called the *intepreter*.

# Object-Oriented

Python, like any other Object-Oriented Programming (OOP) language is organized around objects.

Everything in Python is an object:

> <ol>
> <li>Lists</li>
> <li>Dictionaries</li>
> <li>Classes</li>
> <li>... and so forth</li>
> </ol>

# High-level programming langugage
The syntax of our code is easy for humans to interpret.
> Python is easily readable, and has very little syntax requirements compared to other programming languages.

If you have to display something on the screen, the built-in function for this is called print;
> *Typing print() to actually "print" something on the screen is pretty intuitive!*

In [1]:
print("Hello World!")

Hello World!

# Dynamic Semantics ~ typing
Dynamic objects are instances of values contained into constructs in the code, and they exist at a run-time level.

We can assign to one object multiple values, since it will update itself, differently from a static semantic langugae.

> If we set a = 2 and then a = 'hello', the string value will substitute the integer as soon as the line is executed

# Can't do this in Java
    
**int a = 2;** <br>
**a = "hello"** ERROR

We can in Python!

In [2]:
a = 2
print(a)
a = "hello"
print(a)

2
hello

# How do we write & run code in Python?

With a simple text editor
    <ol>
    <li> Write code in Python and save as [FILENAME].py </li>
    <li> Run $ python3 [FILENAME].py in your terminal </li>
    <ol>
In a work environment

# Some great Text Editors/IDEs
1). VSCode by Microsoft <br>
2). Sublime Text <br>
3). Atom from GitHub <br>
4). PyCharm <br>
5). VIM <br>

# Setting up Jupyter Notebook

# What you need to do: 
1). Download Anaconda <br>
> This will install Python, numpy, pandas, and allow you to use Jupyter notebooks.

2). Get a Kaggle Account <br>

3). Download the Pokemon Dataset.
> https://www.kaggle.com/abcsds/pokemon

# 1). Download the most recent version of Python for your OS
> https://www.python.org/downloads/

# 2). Download Anaconda (3.7)
> https://www.anaconda.com/distribution/

# 3). Open Jupyter Notebook

## There are two ways to do this

> Open the Anaconda Navigator app
>> Launch Jupyter Notebook
    >> - this will be opened in your browser

**OR**
> Open Terminal
>> type in "jupyter notebook"

# Make a new Notebook

Hit the "New" drop down in the top right next to upload, click on Python3

# Done!

# Cells in Jupyter Notebook

## There are two types of Cells!

In [3]:
def freedomFunction():
    print("His name is... EREN YEAGER")

In [4]:
#Code Cell
freedomFunction()

His name is... EREN YEAGER

# Markdown Cell
We can type all kinds of wacky text
> And do all kind of
**Crazy Formatting** <br>

*in these boxes*
<ol>
    <li>lol</li>
    <li>lol</li>
<ol>

# Importing Libaries
> import [MODULE] //as [ALIAS; nickname for your own benefit] <br>
> FROM [MODULE] import [A]

In [5]:
#Basic Python Libraries; Feel free to add more!

import pandas as pd
import numpy as np
import matplotlib
from sklearn import preprocessing

# Python Syntax
1). NO MORE SEMICOLONS :)
2). Whitespace in Python
> Since we're no longer using semicolons to terminate lines, a newline signifies the end of a line. <br> 
> Whitespace and Indentation matters!

3). Strings can be 'string' or "string"

# Python identifiers
1). Identifier is a name used to identify a variable, function, class, module, or other object
2). Starts with a letter A-Z, a-z, or underscore(_) followed by zero or more letters, underscores, and digits (0-9)
> Python does not allow punctuation characters such as @, $, and % within identifiers.

3). Case sensitive

# Python Variable Types
> <ol>
> <li>Numbers</li>
> <li>Strings</li>
    > This includes individual characters
> <li>Lists</li>
> <li>Tuple</li>
    > <li>Dictionary</li>
> </ol>

In [6]:
a = 2
print(type(a))
b = 2.0
print(type(b))
c = "never gonna give you up"
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

# Creating List and List Operations in Python
Lists are great for storing stuff!
We can store anything in a list, including lists!

In [7]:
listOne = [1, 2, 3 ,4]
listOne

[1, 2, 3, 4]

In [8]:
listTwo = ["Bob", 1, 2.0, [4, 5, (1, 2)]]
listTwo

['Bob', 1, 2.0, [4, 5, (1, 2)]]

# List Operations

In [9]:
listThree = []
#to add stuff to a list, use the .append() function
listThree.append(1)
listThree.append("bad data")
listThree

[1, 'bad data']

In [10]:
#remove stuff from a list, use the .remove() function
listThree.remove("bad data")
listThree

[1]

# Lists are Zero Indexed!

In [11]:
#slicing through a list
listFour = [1, 2, 3, 4, 5]
print(listFour[0]) # get the first element
print(listFour[-1]) #get the last element
print(listFour[:3]) #get the first three items, does not include third index (non-inclusive)
print(listFour[1:]) #get all the items except the first

1
5
[1, 2, 3]
[2, 3, 4, 5]

# Tuples, like lists but immutable

In [12]:
tupleOne = (1, 2, 3, 4)
#use parenthesis
tupleOne

(1, 2, 3, 4)

# Dictionaries

In [13]:
#like lists, but with keys-value pairs
dictOne = {"Bob": 12, "Joe": 17, "Bill": 18}
dictOne

{'Bob': 12, 'Joe': 17, 'Bill': 18}

# The first value is called the key, the second value are the values

In [14]:
print(dictOne.keys()) #returns a list of the keys
print(dictOne.values()) #returns a list of the values
print(dictOne.items()) #returns a list of the key value pairs as tuples

#NOTE YOU MUST CAST THESE INTO LISTS TO USE LIST OPERATIONS ON THEM
print(list(dictOne.keys()))

dict_keys(['Bob', 'Joe', 'Bill'])
dict_values([12, 17, 18])
dict_items([('Bob', 12), ('Joe', 17), ('Bill', 18)])
['Bob', 'Joe', 'Bill']

# Modifying Dictionary and List Values

In [15]:
listFive = [1, 2, 3, 4, 5]
dictTwo = {"Bob": 12, "Joe": 17, "Bill": 18}
listFive[0] = 10 #use the index to change the value
print(listFive[0])
dictTwo["Bob"] = 13 #use the key to change the value
print(dictTwo["Bob"])

#SAME LOGIC APPLIES TO TUPLES

10
13

# Typing in Python

In [16]:
a = 2
print(a)

2

In [17]:
a = "hello"
print(a)

hello

# Math in Python

In [18]:
a = 2
b = 4
a + b

6

In [19]:
a*b

8

In [20]:
a**b

16

In [21]:
a/b

0.5

In [22]:
a//b #floor/integer division

0

# Functions

In [23]:
def func1(var):
    var1 = 2
    var2 = 3
    return var + var1 + var2

var = 1
func1(var)

6

# Conditionals

In [24]:
#if (condition)
x = 5
if (x == 1):
    print('x is equal to 1')
elif (x == 5):
    print('x is equal to 5')
else:
    print('x is not equal to 1 or 5')

x is equal to 5

# Conditional Operators
!= is does not equals <br>
or, and, not

# Loops

While we tend to avoid loops with tabular data, it is still good to know them!

In [25]:
#for loop
for i in range(10):
    print(i)
#for index in a list of range 0-9
#range is non inclusive of the number inputted

0
1
2
3
4
5
6
7
8
9

# Range()

In [26]:
print(list(range(10)))
print(list(range(0, 10, 2))) #start, stop, step
print(list(range(10, -1, -1))) #decrement

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# Iterating through a list or string

We can use a loop if we just want to iterate through values in a string or list

In [27]:
testString = "Brian"
for letter in testString:
    print(letter)

B
r
i
a
n

In [28]:
testList = ['B', 'r', 'i', 'a', 'n']
for letter in testList:
    print(letter)

B
r
i
a
n

# Iterating through indices

In [29]:
testList = ['S', 'a', 's', 'g', 'e', 'y', 'o']
for i in range(len(testList)):
    print(testList[i])

S
a
s
g
e
y
o

# List Comprehensions
These are very useful tools that let us loop through something in a single line.
Syntax goes as follows:

[ [VALUE WE WANT] for [VALUE WE WANT] in [ITERABLE] ]

In [30]:
#example
kantoStarters = ["Charmander", "Bulbasaur", "Squirtle", "Pikachu"]

starters = [pokemon for pokemon in kantoStarters] #This returns a list of the items
print(starters)
#list comprehensions are useful for applying a function to a list

upperStarters = [pokemon.upper() for pokemon in kantoStarters]
print(upperStarters)

#or if we want to filtering quickly
bestStarter = [pokemon for pokemon in kantoStarters if pokemon == "Charmander"] #conditional comes at the end
print(bestStarter)

['Charmander', 'Bulbasaur', 'Squirtle', 'Pikachu']
['CHARMANDER', 'BULBASAUR', 'SQUIRTLE', 'PIKACHU']
['Charmander']

# Numpy - np.NaN
1). Can't check equality like A = np.NaN

Use methods like is.NaN, dropna(), etc

In [31]:
myarr = np.array([1., 0., np.nan, 3.])
np.where(myarr == np.nan)
np.nan == np.nan #is always False! Use special numpy fuinctions instead

False

In [32]:
myarr[myarr = np.nan] = 0 #doesn't work

SyntaxError: invalid syntax (<ipython-input-32-761800fb7401>, line 1)

In [33]:
myarr

array([ 1.,  0., nan,  3.])

# Correct Way

In [34]:
myarr[np.isnan(myarr)] = 0. #use this instaed

In [35]:
myarr

array([1., 0., 0., 3.])

# Intro to Pandas

# What is pandas?
Not related to real Pandas, sadly. <br>

The name is derived from "Panel Data". <br>

Python Library <br>

Good tool to use when you are working with a large dataset.

# Starting, at last!
Once you have your notebook and csv in the same directory, you're ready to start!

The first thing we want to make sure we have done is importing pandas and numpy, as they are crucial to any data task.

In [36]:
import pandas as pd
import numpy as np

# Reading
Read in your csv file using the following method
> For documentation please visit: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [37]:
df = pd.read_csv("Pokemon.csv")
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

# What is DF?
DF is short for dataframe. A dataframe is essentially any sort of tabular data. <br>
We can change the name df to whatever we want. <br>

In [38]:
pokemon = pd.read_csv("Pokemon.csv")
pokemon.head() # we can input a number to list more or less

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## What's a head?
You can see the top few elements of your dataframe using DataFrame.head(). This avoids displaying more of a dataset that is currently needed, and is a nice way of confirming everything has loaded correctly.

# Describing Data
You can use describe() to quickly gather some general insights on your dataset

In [39]:
pokemon.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

**Keep in mind some of these values may not make sense or be too useful. For example, we don't really care about average pokemon generation or Pokedex entry (ID number or #)**

# Data Cleaning

Most important part of the ML process <br>

Select columns to work with <br>

Make sure no values are missing <br>

Add new columns with combinations of features

# Dropping Columns
We can drop columns using **df.drop()!**

# Solution

In [40]:
#lets get rid of Generation, we don't need that right now
pokemon = df.drop('Generation', axis = 1)
pokemon.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,False

# Adding Columns
You may want a new column. Just pick a name and throw some data in.

In [41]:
pokemon['New Pokedex ID'] = [random.randint(1, 10000) for i in range(len(df.Name))]
pokemon[['Name', "Type 1", "Type 2", "New Pokedex ID"]]

NameError: name 'random' is not defined

# Renaming
It's nice to be able to quickly read what column names are. The column "Sp. Atk" could be changed to "Sp. Attack".

**Task 2**: Rename "Sp. Atk" to "Sp. Attack"

# Solution

In [42]:
pokemon = pokemon.rename(columns={"Sp. Atk": "Sp. Attack"})
pokemon.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Attack,Sp. Def,Speed,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,False

# Replacing Data

In [43]:
pokemon = pd.read_csv("Pokemon.csv")
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [44]:
pokemon.replace(1, "Kanto")
#replacing the generation to the region they're from

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Kanto,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,Kanto,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,Kanto,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Kanto,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Kanto,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,Kanto,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# Null Values
Your choice on how to deal with these (but be sure to fit with the context of the data)

Drop them <br>
Fill them with the mean <br>
Fill them backwards or forwards <br>
Fill them with whatever you want <br>

## Null Values
Here's a bunch of null values <br>
How can we fill these?

In [45]:
col = pd.Series([np.nan]*10)
col

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
dtype: float64

## Null values
Fill using anything!

In [46]:
col.fillna(1)

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
dtype: float64

## Null values
Fill using the mean.

In [47]:
col = pd.Series([2] + [np.nan] * 10 + [1])
col.fillna(col.mean())

0     2.0
1     1.5
2     1.5
3     1.5
4     1.5
5     1.5
6     1.5
7     1.5
8     1.5
9     1.5
10    1.5
11    1.0
dtype: float64

## Null values

Or get rid of them completely!

In [48]:
col = pd.Series([2] + [np.nan] * 10 + [1])
col.dropna()

0     2.0
11    1.0
dtype: float64

# Selecting Data
How can we select data from a DataFrame? There are a couple different ways. <br>
We can pull data out using indexing by column, using dot notation, or by using the actual index of a column

# Examples

All three of these lines get the exact same thing: the 'Name' column of the DataFrame as a panda Series.

In [49]:
pokemon['Name'].head()
pokemon.iloc[:, 1].head()
pokemon.Name.head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

# Selection by Column
You can get access to a column by using its name in the same kind of format as you would access an element from an list using its index

In [50]:
pokemon['Name'].head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

# Selection by Column v2
You can index the exact same way, as
before, although instead of using
brackets [ ], you can just directly use
the name of the column. There is no real
difference in the two, it is personal
preference. The main downfall is that it
cannot access columns with spaces in the
name.

In [51]:
df.Name.head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

# Selection by index
Selection using iloc works by specifying the row
as the first parameter, and the column as the
second parameter. In this case, : indicates that
we want every row, and -1 means that we want
the last column.

More on iloc and loc in a second.

In [52]:
df.iloc[:, 1].head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

# Selection by Index Example
How would you get the 3rd row (index 2) and get the Pokmon stored in that cell?

# Solution

In [53]:
pokemon.iloc[2, 1]

'Venusaur'

# .loc vs .iloc
Both .loc and .iloc can pull out specific rows

In [54]:
pokemon.loc[2]

#                    3
Name          Venusaur
Type 1           Grass
Type 2          Poison
Total              525
HP                  80
Attack              82
Defense             83
Sp. Atk            100
Sp. Def            100
Speed               80
Generation           1
Legendary        False
Name: 2, dtype: object

In [55]:
pokemon.iloc[2]

#                    3
Name          Venusaur
Type 1           Grass
Type 2          Poison
Total              525
HP                  80
Attack              82
Defense             83
Sp. Atk            100
Sp. Def            100
Speed               80
Generation           1
Legendary        False
Name: 2, dtype: object

# .loc vs .iloc
.loc can index by string name, .iloc indexes by integer

In [56]:
pokemon.loc[:, "Name"].head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [57]:
pokemon.iloc[:, 'Date'].head()

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

# DataFrame vs Series
You may have noticed when working with iloc and loc, we get a different
looking output than our DataFrame. These are pandas Series, which are
just the data type that a column (or row) is stored in.

A Series is a one-dimensional array containing information from a row or
column.

# Selecting Multiple Columns
You can select multiple
columns by putting each
column name in a list.

In [58]:
pokemon[["Name", "Total"]]

                      Name  Total
0                Bulbasaur    318
1                  Ivysaur    405
2                 Venusaur    525
3    VenusaurMega Venusaur    625
4               Charmander    309
..                     ...    ...
795                Diancie    600
796    DiancieMega Diancie    700
797    HoopaHoopa Confined    600
798     HoopaHoopa Unbound    680
799              Volcanion    600

[800 rows x 2 columns]

In [59]:
pokemon[["Name"]] #this also works for single columns

                      Name
0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
..                     ...
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion

[800 rows x 1 columns]

# Useful Pandas Functions

# Selecting Data - Conditionals
Use conditionals to select only specific data based on criteria.

In [60]:
pokemon[pokemon['Type 1'] == 'Water'].head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False

How does this work? <br>
Boolean Series!

In [61]:
pokemon['Type 1'] == 'Steel'

0      False
1      False
2      False
3      False
4      False
       ...
795    False
796    False
797    False
798    False
799    False
Name: Type 1, Length: 800, dtype: bool

# Selecting Data - Multiple Conditionals
What if you want more than one condition to select data?

In [62]:
pokemon[(pokemon['Type 1'] == "Water") & (pokemon['Type 2'] == 'Ground')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
209,194,Wooper,Water,Ground,210,55,45,45,25,25,15,2,False
210,195,Quagsire,Water,Ground,430,95,85,85,65,65,35,2,False
281,259,Marshtomp,Water,Ground,405,70,85,70,60,70,50,3,False
282,260,Swampert,Water,Ground,535,100,110,90,85,90,60,3,False
283,260,SwampertMega Swampert,Water,Ground,635,100,150,110,95,110,70,3,False
371,339,Barboach,Water,Ground,288,50,48,43,46,41,60,3,False
372,340,Whiscash,Water,Ground,468,110,78,73,76,71,60,3,False
470,423,Gastrodon,Water,Ground,475,111,83,68,92,82,39,4,False
596,536,Palpitoad,Water,Ground,384,75,65,55,65,55,69,5,False
597,537,Seismitoad,Water,Ground,509,105,95,75,85,75,74,5,False

# Exercise
Pull out name of all Pokemon with the first type of Fire and the second type of Fighting.

# Solution

In [63]:
exercise = pokemon[(pokemon["Type 1"] == "Fire") & (pokemon["Type 2"] == "Fighting")]
exercise[["Name"]]

                      Name
277              Combusken
278               Blaziken
279  BlazikenMega Blaziken
436               Monferno
437              Infernape
558                Pignite
559                 Emboar

# Example
Pull out all the pokemon who's health is below 100 HP that are Fire types

In [65]:
exercise = df[(pokemon['HP'] < 100) & (df['Type 1'] == 'Fire')]
exercise

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,505,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,555,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,500,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,495,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,525,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,309,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,534,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,250,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,410,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,365,45,75,37,70,55,83,2,False
276,255,Torchic,Fire,NaN,310,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,405,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,530,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,305,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,460,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,560,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,470,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,309,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,405,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,534,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,540,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,308,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
572,513,Pansear,Fire,NaN,316,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,498,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,315,70,90,45,15,45,50,5,False
692,631,Heatmor,Fire,NaN,484,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,307,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,409,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,534,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,382,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,499,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# Proportions
Do you want to know what proportion of the total Pokemon are Poison types? Great, because it's super easy to find out

# Summing and Dividing
You can sum a column or
DataFrames columns by using
the .sum() function. We can
select our region to be
SanDiego and sum its volume,
then sum the volume of the entire
dataset.

From there we can calculate our
proportion.

In [83]:
poison = pokemon[pokemon['Type 1'] == 'Poison'].shape[0]
pokemon_total = pokemon.shape[0]
poison/pokemon_total

0.035

# Exercise 
What is the proportion of Pokemon that have type 1 of Fire who have type 2 of fighting?

# Solution

In [84]:
fire = pokemon[pokemon["Type 1"] == 'Fire'].shape[0]
fighting_fire = pokemon[(pokemon["Type 1"] == 'Fire') & (pokemon["Type 2"] == 'Fighting')].shape[0]
fighting_fire/fire

0.1346153846153846

# Applying
What if you wanted to subtract a number from an entire column? What if
you wanted to use some specific function for every entry in a column?

Thats where apply comes in. You can pass a function into an apply call,
and it will perform that function on every element in the column.

# Subtract the Mean
We are now going to subtract the mean Attack from the attack category.
First we need to get the mean, then create a simple lambda function to apply!

# Code

In [86]:
mean = pokemon['Attack'].mean()
subtract_mean = lambda x: x - mean

pokemon['Attack'] = pokemon['Attack'].apply(subtract_mean)
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,-30.00125,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,-17.00125,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,2.99875,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,20.99875,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,-27.00125,43,60,50,65,1,False

# Lambda Functions
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

Think of it as a mini-function

In [104]:
lambda x: x + 10

#the x is the parameter
#this is equivalent to 

def doSomething(x):
    return x + 10

# Grouping
- You can take a DataFrame and group the entire thing based on the
unique values of a column, then aggregate how you feel.

- Picking how you want to aggregate your information and setting a
function up can be the tricky part.

# Grouping 
Simple example: group based on the Pokemon type, sum together each
column of the groups.

In [1]:
pokemon.groupby('Type 1').sum()

NameError: name 'pokemon' is not defined

# Grouping
You can also group on multiple columns!

In [2]:
pokemon.groupby(['Type 1', 'Type 2']).sum()

NameError: name 'pokemon' is not defined

# Grouping - aggregate
We can use our own functions to group everything using .aggregate

In [3]:
pokemon.groupby('HP').aggregate(np.mean)

NameError: name 'pokemon' is not defined

# Merging
If you have two tables

that have matching

information, you may

want to merge them.

In [4]:
types = pokemon[['Type 1', 'Type 2']]
types.head()

NameError: name 'pokemon' is not defined

In [5]:
name = pokemon[['Name']]
name.head()

NameError: name 'pokemon' is not defined

# Merging
Like this:

In [6]:
name.merge(types, left_index = True, right_index = True).head()

NameError: name 'name' is not defined

# Thank you for attending our workshop
## Good luck with Hacking!